<div class="set-min-height">
  <br>
  <h1 class="text-center">My Events</h1>
  <br>
  <div class="over-scroll">
    <table class="table table-hover table-striped text-center " >
      <thead>
        <tr>
          <th style="font-family:'Nova Square', cursive;">Name</th>
          <th style="font-family:'Nova Square', cursive;">Join code</th>
          <th style="font-family:'Nova Square', cursive;">Join now</th>
          <th style="font-family:'Nova Square', cursive;">Edit</th>
          <th style="font-family:'Nova Square', cursive;">Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.join_code %></td>
            <td><%= link_to 'Join now', event, class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-info btn-sm" %></td>
            <td><%= link_to 'Destroy', event, method: :delete,class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Event', new_event_path %>
</div>