
<p class="text-center">
  <h3 class="text-center primary" style="font-family: 'Nova Square', cursive;"><%= @event.name %></h3>
</p>

<div id="questions" class="question-section" data-event-id="<%= @event.id %>">
  <%= render @event.questions %>
</div>



<%= form_for @question, url: '#' do |f| %>
  <div class="form-group">
    <strong> <%= f.label "Your Question:" %> </strong>
    <%= f.text_area :question, class: 'form-control ml-sm-5 ml-0 textarea' %>
    <small class="text-muted ml-sm-5 ml-0">From 2 to 1000 characters</small>
  </div>
  <%= f.submit "Ask This", class: 'btn btn-primary btn-lg ml-sm-5 ml-0' %>
<% end %>

<hr>

<% if current_user.id == @event.user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', pages_myevents_path %>


